

<a class="header-link" href="/">Home</a>
<a class="header-link" href="/auth/google">Login with Google</a>
<a class="header-link" href="/auth/local">Login locally</a>
<a class="header-link" href="/auth/logout">Logout</a>